{% extends "base.html" %}<br>{% block caca %}<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CODIGO</th>
      <th>PRODUCTO</th>
      <th>CLIENTE</th>
      <th>CANTIDAD</th>
      <th>PRECIO</th>
      <th>as</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>DCD354</td>
      <td>Thompson Blue</td>
      <td>Paula Elliott</td>
      <td>68</td>
      <td>0.87</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ZAW341</td>
      <td>Algoma Yellow</td>
      <td>Jane Gomez</td>
      <td>52</td>
      <td>0.52</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>QOC596</td>
      <td>Lukken Crimson</td>
      <td>Paula Elliott</td>
      <td>54</td>
      <td>6.92</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ZPV834</td>
      <td>Melrose Turquoise</td>
      <td>Jane Gomez</td>
      <td>49</td>
      <td>7.70</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>VWM896</td>
      <td>Starling Aquamarine</td>
      <td>Paula Elliott</td>
      <td>25</td>
      <td>5.44</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>{% endblock %}